<div *ngIf="modalService.show" class="container">
  <div class="simple-modal" tabindex="0">
    <div class="simple-modal__content">

      <form  (ngSubmit)="create()">
        <header>
          <h3>{{title}}</h3>
          <span (click)="closeModal()">cerrar</span>
        </header>
        <div class="modal-main" class="myForm">
    <!-- <div class="row">
        <h2>{{title}}</h2>        
      </div> -->
    <div class="row">
      <div class="column">
        <div class="input-group">
            <label for="amount">Importe</label>
            <input type="number" min="0" step=".01" name="amount" [(ngModel)]="payment.amount" />
        </div>
        <div class="input-group">
            <label for="description">Descripción</label>
            <input type="text" name="description" [(ngModel)]="payment.description" />
        </div>
        <div class="input-group">        
            <label for="payerId">Pagador</label>
            <select name="payerId" [(ngModel)]="payment.payerId">
              <option *ngFor="let member of members" [ngValue]="member.id">{{member.name}}</option>
            </select>
        </div>
      </div>      
    </div>    
    <!-- <div class="row button">
    <button class="btn" type="submit">Submit</button>      
  </div> -->

  </div>
  <footer>
    <button class="btn" type="submit">Submit</button>
  </footer>
</form>
</div>
</div>
</div>