<form>
    <ul class="wrapper">
      <li class="form-row">
        <label for="amount">Importe</label>
        <input type="number" id="amount"/>
      </li>
      <li class="form-row">
        <label for="description">Descripción</label>
        <input type="text" id="description"/>
      </li>
      <li class="form-row">
        <label for="payer">Pagador</label>
        <select id="payer">
          <option value="office" >Taxi Office</option>
          <option value="town_hall" >Town Hall</option>
          <option value="telepathy" >We'll Guess!</option>
        </select>
      </li>
      <li class="form-row">
        <button type="submit">Submit</button>
      </li>
    </ul>
  </form>